<details id="<%= dom_id comment %>" class="px-2" open>
  <summary class="cursor-pointer px-1 text-sm focus:outline-none focus-visible:ring ring-offset-2 ring-blue-500">
    <div class="inline-flex w-[calc(100%_-_1.676em)] items-baseline justify-between">
      <span>
        <% if controller_name == "users" %>
          <span>on <%= link_to comment.post.title, comment.post, class: "hover:underline focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %></span>
        <% elsif controller_name == "posts" || controller_name == "comments" %>
          <span>by <%= link_to comment.user.screen_name, comment.user, class: "hover:underline focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %></span>
        <% end %>
        <span>&middot;</span>
        <abbr title="<%= comment.created_at.to_formatted_s(:long) %>" class="cursor-help inline-block">
          <%= time_tag comment.created_at, time_ago_in_words(comment.created_at) %> ago
        </abbr>
        <% if comment.created_at != comment.updated_at %>
          <span>&middot;</span>
          <em>edited</em>
        <% end %>
      </span>

      <div class="flex justify-end gap-2">
        <% if comment.user == Current.user %>
          <%= link_to "Edit", edit_comment_path(comment), class: "border border-black text-black bg-white py-1 px-2 cursor-pointer hover:bg-black hover:text-white focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
          <%= button_to "Destroy", comment, method: :delete, class: "border border-red-500 text-red-500 bg-white py-1 px-2 cursor-pointer hover:bg-red-500 hover:text-white focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
        <% end %>
      </div>
    </div>
  </summary>

  <%= comment.body %>
</details>