<h1 class="absolute -top-4 py-px px-2 -mx-2 uppercase font-bold text-lg">
  Sign up
</h1>

<%= form_with(model: @user, url: "/users", class: "contents") do |form| %>
  <% if @user.errors.any? %>
    <div class="text-red-500 font-medium mb-8" role="alert">
      <h2 class="font-black text-sm uppercase tracking flex items-center">
        <%= I18n.t("errors.messages.not_saved", count: @user.errors.count, resource: @user.class.model_name.human.downcase) %>
      </h2>
      <ul class="list-[square] list-inside pl-4 mt-2">
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-2 w-1/2 mb-8">
    <%= form.label :screen_name %>
    <%= form.text_field :screen_name %>
  </div>

  <div class="flex flex-col gap-2 w-1/2 mb-8">
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", aria: { describedby: form.field_id(:password, :help) } %>
    <small id="<%= form.field_id(:password, :help) %>">8 characters minimum.</small>
  </div>

  <div class="flex flex-col gap-2 w-1/2 mb-8">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
  </div>

  <div class="inline-block">
    <%= form.submit class: "border border-black text-black bg-white py-1 px-2 cursor-pointer hover:bg-black hover:text-white focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
  </div>
<% end %>
