<h1 class="absolute -top-4 py-px px-2 -mx-2 uppercase font-bold text-lg">
  <%= @post.title %>
</h1>
<%= link_to "&larr; Back to posts".html_safe, posts_path, class: "absolute -top-4 right-4 py-px px-2 -mx-2 border-2 border-transparent hover:border-black focus:outline-none focus:ring focus:ring-offset-0 focus:ring-blue-500" %>

<small class="absolute top-4 text-sm font-normal inline-flex items-baseline justify-between">
  <span>
    <% if controller_name == "posts" %>
      by <%= link_to (@post.user == Current.user ? "you" : @post.user.screen_name), user_path(@post.user), class: "hover:underline focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
      <span>&middot;</span>
    <% end %>
    <abbr title="<%= @post.created_at.to_formatted_s(:long) %>" class="cursor-help">
      <%= time_tag @post.created_at, time_ago_in_words(@post.created_at) %> ago
    </abbr>
    <span>&middot;</span>
    <%= link_to pluralize(@post.comments_count, "comment"), url_for(anchor: :comments), class: "hover:underline focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
  </span>
</small>

<div class="mt-8 prose max-w-none text-black">
  <%= simple_format @post.content %>
</div>

<% if @post.user == Current.user %>
  <br>

  <div class="flex items-center gap-2">
    <%= link_to "Edit", edit_post_path(@post), class: "border border-black text-black bg-white py-1 px-2 cursor-pointer hover:bg-black hover:text-white focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
    <%= button_to "Destroy", @post, method: :delete, class: "border border-red-500 text-red-500 bg-white py-1 px-2 cursor-pointer hover:bg-red-500 hover:text-white focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
  </div>
<% end %>

<br>
<hr class="border-black border">
<br>

<% if Current.user.present? %>
  <%= render "comments/form", comment: @comment || @post.comments.new %>
<% end %>

<% if @post.comments.exists? %>
  <br />
  <div id="comments" class="space-y-4">
    <%= render @post.comments.order(created_at: :desc) %>
  </div>
<% end %>